<style>
    #avvo-button .fab {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 60px;
        height: 60px;
        background-color: var(--info);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 24px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
    #avvo-footer, .modal-footer {
            display: flex;
            justify-content: space-between !important;
        }
</style>

<!-- Floating Action Button -->
<div id="avvo-button">
    <div class="fab" data-toggle="modal" data-target="#{{ include.id }}">
        <i class="fa-solid fa-comments"></i>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="{{ include.id }}" data-keyboard="false" tabindex="-1" aria-labelledby="datasetDetailsLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <iframe
                        src="{{ include.html_to_include }}"
                        frameborder="0"
                        width="100%"
                        height="{{ include.height }}"
                ></iframe>
            </div>
            <div id="avvo-footer" class="modal-footer">
                 <h5 class="modal-title" id="staticBackdropLabel">{{ include.title }}</h5>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>